<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">

    <Rule Id="CA1062" Action="Warning" /><!-- In externally visible method '...', validate parameter '...' is non-null before using it. If appropriate, throw an ArgumentNullException when the argument is null or add a Code Contract precondition asserting non-null argument -->
    <Rule Id="CA1303" Action="Warning" /><!-- Method '...' passes a literal string as parameter '...' of a call to '...'. Retrieve the following string(s) from a resource table instead: "..." -->
    
    <Rule Id="CA1707" Action="Warning" /><!-- Identifiers should not contain underscores -->
    
    <Rule Id="CA1801" Action="Warning" /><!-- Review unused parameters -->
    <Rule Id="CA1822" Action="Warning" /><!-- Mark members as static -->

  </Rules>
</RuleSet>