version: 1.0.{build}
image: Visual Studio 2017
configuration: Release
skip_tags: true

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

before_build:
- pwsh: msbuild -t:Restore

build:
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal

deploy:
- provider: Environment
  name: NuGet Deploy

nuget:
  account_feed: false
  project_feed: true
  disable_publish_on_pr: true

for:
-
  branches:
    only:
      - master
  init:
  - pwsh: appveyor UpdateBuild -Version "$env:APPVEYOR_BUILD_VERSION-pre"

-
  branches:
    only:
      - release

-
  deploy: off
