version: 0.5.0.{build}
image: Visual Studio 2017
configuration: Release
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
nuget:
  disable_publish_on_pr: true
build_script:
- ps: dotnet pack -c release Moq.AutoMock
build_script:
- ps: dotnet test -c release Moq.AutoMock.Tests
artifacts:
- path: '**\*.nupkg'
deploy: off