<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- 
      For testing the generator disable properties, we need to use the locally-built package.
      The local source must be the primary source for Moq.AutoMock.
    -->
    <clear />
    <add key="local" value="../../nupkgs" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local">
      <package pattern="Moq.AutoMock" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
