name: .NET Core

on: [push]


jobs:

  build:
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100

    - name: Set version
      run: echo "::set-env name=VersionSuffix::ci${{ github.run_number }}"
      if: ${GITHUB_REF#refs/heads/} != 'release'

    - name: Build
      run: dotnet build --configuration Release

    - name: Test
      run: dotnet test --configuration Release
